{
  "env": {
      "commonjs": true,
      "es2021": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
      "ecmaVersion": "latest"
  },
  "rules": {
    "eqeqeq": "warn",
    "strict": "off",
    "no-underscore-dangle": ["error",{"allow":["_id"]}]
  }
}
